- if @user.errors.any?
  .alert.alert-danger
    %a.close{"data-dismiss" => "alert"} ×
    = @user.errors.full_messages[0]
= simple_form_for UserUpdatePasswordForm.new, url: update_password_user_setting_path, method: :patch, html: {class: 'form-horizontal'} do |f|
  .sec.sec-dark
    %h4 Изменить пароль
    .form-group
      = f.label :old_password, class: 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :old_password, class: 'form-control', type: :password, placeholder: 'Старый пароль'
    .form-group
      = f.label :new_password, class: 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :new_password, class: 'form-control', type: :password, placeholder: 'Новый пароль'
    .form-group
      .col-sm-offset-2.col-sm-8
        = link_to 'Изменить персональную информацию', edit_user_setting_path
    .form-group
      .col-sm-offset-2.col-sm-8
        = f.submit 'Сохранить', class: 'btn btn-default btn-block'

/ = simple_form_for UserEditForm.new, url: web_user_path, method: :patch, html: {class: 'form-horizontal'} do |f|
/   .sec.sec-dark
/     %h4 Защита
/     .form-group
/       = f.label :email, class: 'col-sm-2 control-label'
/       .col-sm-8
/         = f.text_field :email, class: 'form-control', placeholder: 'Email'
/     .form-group
/       = f.label :password, class: 'col-sm-2 control-label'
/       .col-sm-8
/         = f.input_field :password, class: 'form-control', type: :password, placeholder: 'Введите старый пароль'
/     .form-group
/       = f.label :password, class: 'col-sm-2 control-label'
/       .col-sm-8
/         = f.input_field :password, class: 'form-control', type: :password, placeholder: 'Новый пароль'
/     .form-group
/       .col-sm-offset-2.col-sm-8
/         = f.submit "Сохранить", class: 'btn btn-default btn-block'